{% extends 'ChodeOrNot/base.html' %}

{% load staticfiles %}

{% block title %}Disclaimer{% endblock %}

{% block body_block %}
   <div class = "container">
   <h2 class="center white-text">Disclaimer</h2>
        <p class="white-text center-align">The provided donation button upon failure to complete is indeed optional,
            but it is a important pillar for leveraging yourself to take right action.
            We do not store any personal information about you and your IP address. </p>
   </div>

{% endblock %}