{% extends 'ChodeOrNot/base.html' %}

{% load staticfiles %}

{% block title %}Disclaimer{% endblock %}

{% block body_block %}
   <div class = "container">
   <h2 class="center black-text">How it works?</h2>
   		<!-- Fun and light-hearted -->
   		<!--   Icon Section   -->
     <div class="row">
       <div class="col s12 s3 m3">
         <div class="icon-block">
           <!-- <h5 class="center black-text">Get Ready</h5> -->
           <!-- TODO: Edit this text -->
           <div class="card blue-grey darken-1">
            <div class="card-content white-text center-align">
              <span class="secondary-color card-title">Get Ready</span>
              <p>You have one hour to go and chat up 7 girls. Prepare yourself for having some fun, do not set your expectations too high and just enjoy your time socializing.</p>
            </div>
            <div class="card-action">
           <h5 class="center light-blue-text"><i class="material-icons">done</i></h2>
            </div>
          </div>
         </div>
       </div>

       <div class="col s12 m3">
         <div class="icon-block">
           <div class="card blue-grey darken-1">
            <div class="card-content white-text center-align">
              <span class="secondary-color card-title">Accept the Challenge</span>
              <p>Commit to trying this out for the next 60 minutes. Do not get discouraged halfway and give up. Push yourself and enjoy growing and becoming a better version of yourself.</p>
            </div>
            <div class="card-action">
           <h5 class="center light-blue-text"><i class="material-icons">group</i></h2>
            </div>
          </div>
         </div>
       </div>

       <div class="col s12 m3">
         <div class="icon-block">
         <div class="card blue-grey darken-1">
            <div class="card-content white-text center-align">
              <span class="secondary-color card-title">Approach</span>
              <p>You have 60 minutes. Go!</p>
            </div>
            <div class="card-action">
           <h5 class="center light-blue-text"><img src="{% static 'image/ic_timer_white_48dp_1x.png' %}"/></h2>
            </div>
          </div>
         </div>
       </div>

       <div class="col s12 m3">
         <div class="icon-block">
         <div class="card blue-grey darken-1">
            <div class="card-content white-text center-align">
              <span class="secondary-color card-title">How Did You Do?</span>
              <p>Once the time is up, select whether or not you have been able to complete the Chode or Not challenge. Be honest with yourself, no one is watching.</p>
            </div>
            <div class="card-action">
           <h5 class="center light-blue-text"><i class="material-icons">credit_card</i></h2>
            </div>
          </div>
       </div>
     </div>

   </div>
   <p class="center black-text">Share your experience! Drop us an email at chodeornot@gmail.com, we would love to hear from you.</p>
   </div>

{% endblock %}
