{% extends 'ChodeOrNot/base.html' %}

{% load staticfiles %}

{% block title %}Disclaimer{% endblock %}

{% block body_block %}
   <div class = "container">
   <h2 class="center black-text">How it works?</h2>
   		<!-- Fun and light-hearted -->
   		<!--   Icon Section   -->
     <div class="row">
       <div class="col s12 m3">
         <div class="icon-block">
           <h2 class="center light-blue-text"><i class="material-icons">done</i></h2>
           <h5 class="center black-text">Get Ready</h5>
           <!-- TODO: Edit this text -->
           <p class="center-align light black-text">You have one hour to go and chat up 7 girls. Prepare yourself for the fun and growth 
             </p>
         </div>
       </div>

       <div class="col s12 m3">
         <div class="icon-block">
           <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
           <h5 class="center black-text">Accept the Challenge</h5>
           <!-- TODO: Edit this text -->
           <p class="center-align light black-text">Commit to trying this out for the next 60 minutes.
         </div>
       </div>

       <div class="col s12 m3">
         <div class="icon-block">
           <h2 class="center light-blue-text"><i class="material-icons">credit_card</i></h2>
           <h5 class="center black-text">Approach</h5>

           <p class="center-align light black-text">You have 1 hour. Go.</p>
         </div>
       </div>

       <div class="col s12 m3">
         <div class="icon-block">
           <h2 class="center light-blue-text"><i class="material-icons">credit_card</i></h2>
           <h5 class="center black-text">How Did You Do?</h5>

           <p class="center-align light black-text">Once the time is up, select whether or not you have been able to complete the Chode or Not challenge.</p>
       </div>
     </div>

   </div>
   <p class="center black-text">Share your experience! Drop us an email at chodeornot@gmail, we would love to hear from you.</p>
   </div>

{% endblock %}
