{% extends 'ChodeOrNot/base.html' %}

{% load staticfiles %}
{% block title %} Index {% endblock %}

{% block body_block %}
    <h1 class="text-center">Chode or Not?</h1> <br/>
    <div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
  </div>
  <div class="panel-body">
    <h2 class="text-center" id="danger_red_text_for_warning">Are You Ready To Take The Chode Or Not Challenge?<br/>
                            1 hour. 7 Approaches. $10 If You Fail To Complete.

    </h2><br/>
  </div>
</div>

    <button class=" btn btn-default btn-primary btn-lg container">Challenge Accepted!</button><br/>




{% endblock %}