{% extends 'ChodeOrNot/base.html' %}

{% load staticfiles %}

{% block title %}Success{% endblock %}

{% block body_block %}
<div class="container center-align">
  <h2 class="white-text">Success</h2>
  <p class="white-text">
    You have just completed the Chode or Not challenge, well done.
  </br>
     Congratulate yourself about this. Also, do not forget to record, break down and learn from your interactions
     once you get home so you can get better faster.
  </p>
  <iframe src="//giphy.com/embed/Rgn6cUfaN5zW" id="success-gif" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
</div>
{% endblock %}
