{% extends 'ChodeOrNot/base.html' %}

{% load staticfiles %}

{% block title %}Terms and Conditions{% endblock %}

{% block body_block %}
   <div class = "container ">
   <h2 class="center white-text">Terms and Conditions</h2>
        <p class="white-text center-align ">We at „Chode or Not™ „ try to tailor the challenges in such a way that you complete them, but at the same time increase
            the difficulty so you always push your comfort zone.
            Thus, it is extremely important that you give us feedback on the perceived difficulty of the challenges so we can make a better service.
            Our goal is not for you to fail the challenges that is why we provide you with incentives to complete the challenge successfully. </p>
   </div>

{% endblock %}