{% extends 'ChodeOrNot/base.html' %}

{% load staticfiles %}

{% block title %}Terms and Conditions{% endblock %}

{% block body_block %}
   <div class = "container ">
   <h2 class="center white-text">Terms and Conditions</h2>
        <p class="white-text center-align ">We at  “ Chode or Not™ ” try to tailor these challenges in such a way
            that you can  complete them, but truly push yourself.
            Thus, we would greatly value your feedback on the perceived difficulty of the challenges so we can continue to improve.
            Our purpose is not for you to fail the challenges but rather grow from them and transform your life for the better.

            The donation upon failure is indeed optional,
            but it is a important pillar for emotionally leveraging yourself to take right action. 
        </p>


   </div>

{% endblock %}
