{% extends 'ChodeOrNot/base.html' %}

{% load staticfiles %}

{% block title %}Terms and Conditions{% endblock %}

{% block body_block %}
   <div class = "container ">
   <h2 class="center black-text">Terms and Conditions</h2><br />
   <div class="section">

     <!--   Icon Section   -->
     <div class="row">
       <div class="col s12 m4">
         <div class="icon-block">
           <h2 class="center light-blue-text"><i class="material-icons">done</i></h2>
           <h5 class="center black-text">About us</h5>

           <p class="light black-text">We at  “ Chode or Not™ ” try to tailor these challenges in such a way
               that you can  complete them, but truly push yourself.
               Our purpose is not for you to fail the challenges but rather to grow from them and transform your
               life for the better.
             </p>
         </div>
       </div>

       <div class="col s12 m4">
         <div class="icon-block">
           <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
           <h5 class="center black-text">Give Feedback</h5>

           <p class="light black-text">We are also always open to feedback and would greatly value any suggestions or comments.<br />
           Complete the Chode or Not <a href="http://bit.ly/21tG5ap">survey</a> <br />or simply drop us an email at chodeornot@gmail.com.</p>
         </div>
       </div>

       <div class="col s12 m4">
         <div class="icon-block">
           <h2 class="center light-blue-text"><i class="material-icons">credit_card</i></h2>
           <h5 class="center black-text">Donations</h5>

           <p class="light black-text">The donation upon failure is indeed optional,
           but it is an important pillar for emotionally leveraging yourself to take right action.</p>
         </div>
       </div>
     </div>

   </div>
   </div>

{% endblock %}
