{% extends 'ChodeOrNot/base.html' %}

{% load staticfiles %}

{% block title %}Time Up{% endblock %}

{% block body_block %}
    <div id="wrap">
    <div class="eye">
      <div class="iris"></div>
    </div>
    <div class="eye">
      <div class="iris"></div>
    </div>
    </div>

    <div class="container " id="question_box">

        <p class="center-align white-text" id="question_text">Did You Complete the Chode or Not Challenge?</p>
        <br/>
        <div class="center-align ">
            <a href="/chodeOrNot/success" id="yes-button" class="btn-large waves-effect waves-light green accent-3 left ">Yes</a>
{#        </div>#}
{#        <div class=" center-align">#}
            <a href="/chodeOrNot/fail" id="no-button" class="btn-large waves-effect waves-light red accent-3 right">No</a>
        </div>
    </div>


    <script src="{% static 'js/timeup_eyes_watching.js' %}"></script>
{% endblock %}