{% extends 'ChodeOrNot/base.html' %}

{% load staticfiles %}

{% block title %} Countdown Timer {% endblock %}

{% block body_block %}

    <div class="container center-align ">

        <div id="countdown_timer">
            <div class="fc-wrapper">

            	<div class="fc-group">
              	<div class="fc-label">Hours</div>
              	<div class="fc-face" id="test">
                	<div class="fc-number active">
                  	<div class="top">0</div>
                  	<div class="bottom">0</div>
                	</div>
                	<div class="fc-number">
                  	<div class="top">1</div>
                  	<div class="bottom">1</div>
                	</div>
                	<div class="fc-number">
                  	<div class="top">2</div>
                  	<div class="bottom">2</div>
                	</div>
                	<div class="fc-number">
                  	<div class="top">3</div>
                  	<div class="bottom">3</div>
                	</div>
                	<div class="fc-number">
                  	<div class="top">4</div>
                  	<div class="bottom">4</div>
                	</div>
                	<div class="fc-number">
                  	<div class="top">5</div>
                  	<div class="bottom">5</div>
                	</div>
                	<div class="fc-number">
                  	<div class="top">6</div>
                  	<div class="bottom">6</div>
                	</div>
                	<div class="fc-number">
                  	<div class="top">7</div>
                  	<div class="bottom">7</div>
                	</div>
                	<div class="fc-number">
                  	<div class="top">8</div>
                  	<div class="bottom">8</div>
                	</div>
                	<div class="fc-number">
                  	<div class="top">9</div>
                  	<div class="bottom">9</div>
                	</div>
              	</div>
              	<div class="fc-face">
                	<div class="fc-number">
                  	<div class="top">0</div>
                  	<div class="bottom">0</div>
                	</div>
              	</div>
            	</div>
            	<div class="fc-divider"></div>
            	<div class="fc-group">
              	<div class="fc-label">Minutes</div>
              	<div class="fc-face">
                	<div class="fc-number">
                  	<div class="top">0</div>
                  	<div class="bottom">0</div>
                	</div>
              	</div>
              	<div class="fc-face">
                	<div class="fc-number">
                  	<div class="top">0</div>
                  	<div class="bottom">0</div>
                	</div>
              	</div>
            	</div>
            	<div class="fc-divider"></div>
            	<div class="fc-group">
              	<div class="fc-label">Seconds</div>
              	<div class="fc-face">
                	<div class="fc-number">
                  	<div class="top">0</div>
                  	<div class="bottom">0</div>
                	</div>
              	</div>
              	<div class="fc-face">
                	<div class="fc-number">
                  	<div class="top">0</div>
                  	<div class="bottom">0</div>
                	</div>
              	</div>
            	</div>
          	</div>
        </div><br/>
{#        <h5 class="center " style="width: 100%;">This should be vertically aligned</h5>#}
    </div><br/>
    <div class="center center-align center-block">
    <a href="/chodeOrNot/timeup" id="finish-button" class="btn-large waves-effect waves-light deep-purple accent-3 ">Finish Challenge</a>
    </div>


    <script src = "{% static 'js/countdown_timer.js' %}"></script>

{% endblock %}

